{{template "base" .}}
{{define "title"}}Create a New Snippet{{end}}
{{define "main"}}
<form action='/snippet/create' method='POST'>
<div>
<label>Title:</label> {{with .FormErrors.title}}
<label class='error'>{{.}}</label> {{end}}
<input type='text' name='title' value='{{.FormData.Get "title"}}'> </div>
<div>
<label>Video url:</label> {{with .FormErrors.inputUrl}}
<label class='error'>{{.}}</label> {{end}}
<input type='text' name='input_url'
        placeholder='Example: https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4'>
</div>
<div>
<input type='submit' name= 'generate_playback' value='Create'> </div>
</form> {{end}}