{{template "base" .}}

{{define "title"}}Video #{{.Video.VideoId}}{{end}}

{{define "main"}}
    <div class='snippet'>
    <div class='metadata'>
        <strong>{{.Video.Title}}</strong>
        <span>#{{.Video.VideoId}}</span>
    </div> <pre><code>{{.Video.Filepath}}</code></pre> <div class='metadata'>
        <time>Created: {{humanDate .Video.CreateTimestamp}}</time>
        <time>Updated: {{humanDate .Video.UpdateTimestamp}}</time> </div>
</div> {{end}}
